head
  title markdown-reader
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/stylesheets/github-markdown.css" type="text/css")
  link(rel="stylesheet", href="/codemirror/lib/codemirror.css" type="text/css")
  link(rel="stylesheet", href="/stylesheets/style.css" type="text/css")
  script(src="/jquery/jquery-1.11.1.min.js")
  script(src="/bootstrap/js/bootstrap.min.js")
  script(src="/codemirror/lib/codemirror.js")
  script(src="/codemirror/mode/markdown/markdown.js")
  
