/*define font icon, the font come from iconfont.cn */
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

/*page style*/
.title_center {
    padding: 10px 0px;
    text-align: center;
    height: 800px;
}

ul.mdList {
    margin: 30px auto;
}

ul.mdList > li {
    list-style: none;
    font-size: 18px;
}

ul.mdList > li:before {
    content: "\f0130";
    font-family: 'iconfont';
    font-size: 20px;
    padding-right: 5px;
}

.mdContent {
    padding: 20px 10px;
    border-left: 2px dashed #ccc;
    position: relative;
}

.itemHighlight, .itemHighlight a {
    color: #e58c7c;
}

/*shrink button*/

#shrinkButton {
    position: absolute;
    left: 0px;
    top: 200px;
    opacity: 0.6;
    z-index: 3;
}

#shrinkButton:hover {
    opacity: 0.9;
}

/*setting button*/
#settingBg {
    position: absolute;
    right: 82px;
    top: 10px;
    opacity: 0.6;
    z-index: 3;
}

#settingBg:hover {
    opacity: 0.9;
}

/*operation button*/
#operation {
    position: absolute;
    right: 174px;
    top: 10px;
    opacity: 0.6;
    z-index: 3;
}

#operation:hover {
    opacity: 0.9;
}

/*github button*/
#github {
    position: absolute;
    right: 30px;
    top: 10px;
    opacity: 0.6;
    z-index: 3;
}

#github:hover {
    opacity: 0.9;
}

.nightMode, .nightMode pre, .nightMode pre code, .nightMode table tr {
    background: #333;
    color: #eee;
}

.nightMode table tr:nth-child(2n) {
    background: #666;
}

.shrink {
    display: none;
}

/* for print*/
@media print {
    .noprint {
        display: none !important;
    }

    .mdContent {
        width: 100% !important;
        border-left: 0px dashed #ccc !important;
    }
}

/*for code mirror*/
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#menuButton {
    display: none;
    z-index: 102;
    font-size: 20px;
    color: black;
    opacity: 0.8;
}

#closeButton {
    display: none;
    z-index: 101;
    font-size: 20px;
    color: black;
    opacity: 0.8;
}

@media (max-width: 768px) {
    #shrinkButton {
        display: none;
    }

    .mdList {
        position: absolute;
        background: #bbb;
        padding: 10px 0px 10px 65px !important;
        left: -768px;
        top: 10px;
        z-index: 100;
        width: 100%;
        transition: 1s;
    }

    #menuButton {
        position: absolute;
        left: 0px;
        top: 10px;
        display: block;
    }

    #closeButton {
        position: absolute;
        left: 0px;
        top: 10px;
    }

    #menuButton:hover {
        opacity: 0.9;
    }

    #closeButton:hover {
        opacity: 0.9;
    }

    #mdList:target .mdList{
        left: 0px;
    }

    #mdList:target #menuButton{
        display: none;
    }

    #mdList:target #closeButton{
        display: block;
    }

    .mdContent {
        border-left: 0px dashed #ccc;
    }

}

@media (max-width: 400px) {
    /*setting button*/
    #settingBg {
        right: 82px;
        top: 10px;
    }


    /*operation button*/
    #operation {
        right: 30px;
        top: 50px;
    }


    /*github button*/
    #github {
        right: 30px;
        top: 10px;
    }
}

.dropzone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
