.title_center {
  padding: 10px 0px;
  text-align: center;
  height: 800px;
}

ul.mdList {
  margin: 30px auto;	
}

ul.mdList > li {
  list-style: none;
  font-size: 20px;
}

ul.mdList > li:before {
  content: "\e022";
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
}

.mdList a {
  color: #000;
}


.mdContent {
  padding: 20px 10px;
  border-left: 2px dashed #ccc;
  position: relative;
}

.itemHighlight, .itemHighlight a {
  color: #e58c7c;
}

#shrinkButton {
  position: absolute;
  left: 0px;
  top: 200px;
  opacity: 0.3;
  z-index: 3;
}

#shrinkButton:hover {
  position: absolute;
  left: 0px;
  top: 200px;
  opacity: 0.9;
  z-index: 3;
}
